*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --principal-color: #48CFAD;
    --just-white: #ffffff;
    --just-black: #000000;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto mono', sans-serif;
}

header{
    width: 100%;
    height: auto;
}


/* Header */

.social-container{
    width: 100%;
    height: 60px;
    display: grid;
    background-color: var(--principal-color);
}

.social-container .social-container__networks{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;
    margin-right: 20px;
    gap: 20px;
}

.social-container__link span{
    width: 40px;
    height: 40px;
    display: block;
    background-position: center;
    background-size: contain;
}

.facebook{background-image: url(../assets/icons/facebook-icon.svg);}
.twitter{background-image: url(../assets/icons/twitter-icon.svg);}
.instagram{background-image: url(../assets/icons/instagram-icon.svg);}
.linkedin{background-image: url(../assets/icons/linkedin-icon.svg);}
.youtube{background-image: url(../assets/icons/youtube-icon.svg);}

nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90px;
}

nav .header-container__link-logo img{
    width: 280px;
    align-self: center;
}

.header-container{
    margin-left: 50px;
}

.profile-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.profile-link .header-container__link-about{
    font-size: 2.0rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--just-black);
    border-bottom: 1px solid var(--just-black);
}

/* Main */

.blog-title{
    font-size: 2.5rem;
    margin: 10px 0;
}

.blog-subtitle{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.blogs-main {
    display: grid;
}

.blogs-news-container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}

.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-news-img-container {
    grid-column: 1;
}

.blogs-news-img-container img {
    width: 85%;
}

.blogs-news-info-container {
    grid-column: 2;
}

.blogs-news-info-container p {
    margin-bottom: 35px;
    font-size: 2.0rem;
}

.blogs-posts-container {
    padding: 0 50px 40px;
}

.blog-post-grid{
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blogs-posts-container h3 {
    border-bottom: 1px solid #cdd2da;  
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5rem;
    grid-area: span 1/span 3;
}

.blogs-button {
    font-size: 1.3rem;
    border: 1px solid #47cfac;
    color: var(--just-black);
    text-decoration: none;
    padding: 10px 15px;
    transition: .5s;
}

.blogs-button:hover{
    background-color: var(--principal-color);
    color: var(--just-white);
}

.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 100%;
    margin-bottom: 50px;
}

.blogs-posts-container .post-container p {
    margin-bottom: 35px;
    font-size: 2rem;
}

.blogs-posts-container .post-container p:nth-child(2) {
    font-weight: bold;
    font-size: 2.3rem;
}

.blogs-posts-container .post-container img {
    width: 100%;
}

/* Footer */

footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    text-align: center;
    padding: 10px;
}

footer p {
    color: white;
    font-size: 2rem;
}