*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

:root{
    --principal-color: #48CFAD;
    --just-white: #ffffff;
    --just-black: #000000;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto mono', sans-serif;
}

header{
    width: 100%;
    height: auto;
}


/* Header */

.social-container{
    width: 100%;
    height: 60px;
    display: grid;
    background-color: var(--principal-color);
}

.social-container .social-container__networks{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;
    margin-right: 20px;
    gap: 20px;
}

.social-container__link span{
    width: 40px;
    height: 40px;
    display: block;
    background-position: center;
    background-size: contain;
}

.facebook{background-image: url(../assets/icons/facebook-icon.svg);}
.twitter{background-image: url(../assets/icons/twitter-icon.svg);}
.instagram{background-image: url(../assets/icons/instagram-icon.svg);}
.linkedin{background-image: url(../assets/icons/linkedin-icon.svg);}
.youtube{background-image: url(../assets/icons/youtube-icon.svg);}

nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90px;
}

nav .header-container__link-logo img{
    width: 280px;
    align-self: center;
}

.header-container{
    margin-left: 50px;
}

.profile-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.profile-link .header-container__link-about{
    font-size: 2.0rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--just-black);
    border-bottom: 1px solid var(--just-black);
}

/* Main */

main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 80px;
    align-items: center;
    background-image: url(../assets/img/Cover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    width: 700px;
    font-size: 4.0rem;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 200px;
    color: var(--just-white);
    font-weight: bold;
}

.main__link{
    padding: 10px;
    font-size: 2.0rem;
    color: var(--just-black);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--principal-color);
    border: 1px solid var(--just-white);
}